@import "./bootstrap-extend.scss";

@font-face {
    font-family: "PlusJakartaSans";
    src: url("../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "PlusJakartaSans-Bold";
    src: url("../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "PlusJakartaSans-SemiBold";
    src: url("../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "PlusJakartaSans-Medium";
    src: url("../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "PlusJakartaSans-ExtraBold";
    src: url("../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  }
  
  
  html {
    font-size: 14px;
    font-family: 'PlusJakartaSans', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: 'PlusJakartaSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  
  .cursor-pointer{
    cursor: pointer;
  }
  .fs-16{
    font-size: 16px;
  }